asgiref==3.4.1
backports.zoneinfo==0.2.1
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==36.0.1
cssselect2==0.4.1
defusedxml==0.7.1
Deprecated==1.2.13
Django==4.0.1
django-extensions==3.1.5
easy-thumbnails==2.8.1
idna==3.3
instance==0.0.0.0.0.0a0.dev20210120
lxml==4.7.1
oauthlib==3.1.1
packaging==21.3
Pillow==9.0.0
psycopg2-binary==2.9.3
pycparser==2.21
pycryptodomex==3.14.1
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==3.0.7
python3-openid==3.2.0
redis==4.1.3
reportlab==3.6.6
requests==2.27.1
requests-oauthlib==1.3.0
six==1.16.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
sqlparse==0.4.2
svglib==1.2.1
tinycss2==1.1.1
urllib3==1.26.8
vdf==3.4
webencodings==0.5.1
Werkzeug==2.0.2
wrapt==1.13.3
